* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: TofinoBold;
  src: url('../../assets/fonts/Tofino-UltraPersonal.ttf');
  font-display: swap;
}
@font-face {
  font-family: TofinoRegular;
  src: url('../../assets/fonts/Tofino-RegularPersonal.ttf');
  font-display: swap;
}
body {
  font-family: "TofinoRegular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.albion-text-bold,
h1,h2,h3,h4,h5 {
  font-family: "TofinoBold", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";;
}

.bg-albion {
  background-color: #242A44;
}
.text-albion {
  color: #242A44;
}
.paragraph-albion {
  color: #BAC2E8;
}

.backdrop-blur-custom {
  backdrop-filter: blur(10px);
}