* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-family: 'Inter', sans-serif;
}
.albion-text-bold,
h1,h2,h3,h4,h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

.bg-albion {
  background-color: #242A44;
}
.text-albion {
  color: #242A44;
}
.paragraph-albion {
  color: #BAC2E8;
}

.backdrop-blur-custom {
  backdrop-filter: blur(10px);
}

.btn-blue {
  background: #2563eb;
  color: white;
  &:hover {
    background: darken(#2563eb, 10%);
    transition: background .2s ease;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;